@import "tailwindcss";

:root {
  font-family: 'inter', sans-serif;
  line-height: 1;
  font-weight: 400;
  min-width: 1vw;
  min-height: 1vh;

  color: rgba(255, 255, 255);
  background-color: #070D23;

  --interactive-color: #222C4F;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

